body {
    background-color: coral;
  }
  
  h1 {
    text-align:left;
    font-family:cursive;
    font-size:160%;
    background-color: antiquewhite;
    width: 1200px;
      border:5px dotted blueviolet;
      padding: 5px;
      margin:5px;
  }